body{
    background-color: #f4f6f9;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../images/picture.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main{
    width:100%;
    text-align: center;
    font-size:24px;
    margin-bottom: 20px;
    background-color: rgb(3, 3, 95);
    color: white;
    height:auto;
    padding:10px 0;
    margin: auto;
}

.id1{
    text-align: center;
    font-size: small;
}

.form{
    width:100%;
    margin: 30px auto;
    align-items: stretch;
    border: 1px solid black;
    border-radius: 6px;
    padding: 20px;
    background-color: rgb(175, 195, 235);
}

*{
    box-sizing:border-box;
}

.form,.table-box{
    flex:1;
    border:1px solid #ccc;
    padding: 20px;
}
.container{
    width:90%;
    max-width: 730px;
    padding: 20px;
    margin:auto;
    box-sizing: border-box;
    background-color: #3b3b98;
    /* background-image: url('../images/picture.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}

/* .box{
    display: flex;
    gap:20px;
    justify-content: space-between;
} */

fieldset{
    border: 1.5px solid black;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 0px;
    background-color: #ffffffaa;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

legend{
    font-size: 16px;
    font-weight: bold;
    padding: 0 8px;
    text-align: center;
    color:#05173f;
    text-shadow: 1px 1px #b0b0ff;
}


.main h2{
    color:#7898dc;
    text-shadow: 1px 1px 2px #6f7da5;
}

label{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.submit{
    text-align: center;
    margin-top: 20px;
}

button{
    padding:14px 50px;
    font-size:18px;
    font-weight: bold;
    background-color: #05173f;
    color: white;
    border:none;
    border-radius: 20px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform: scale(1.05);
}

textarea{
    height: 80px;
    resize: vertical;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"],
select,
textarea{
    width: 100%;
    padding: 12px 12px;
    margin-top: 5px 0 0 0;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

input[type=text], input[type=number], input[type=date],input[type=time]{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
}

input,select,textarea{
    border-radius: 4px;
    border:1px solid black;  
    /* #3b3b98;  */
    padding:10px;
    transition: 0.3s;
}
input:focus,
select:focus,
textarea:focus{
    border-color: #05173f;
    box-shadow: 0 0 5px #05173f;
    outline: none;
}

input[type='checkbox']{
    width:18px;
    height:15px;
    margin-right: 4px;
    vertical-align: middle;
}

input[type='checkbox']+label{
    font-size: 15px;
    font-weight: bold;
    vertical-align: middle;
    display:inline-block;
    margin-bottom: 5px;
}


.asterisk{
    color:red;
}

@media screen and (max-width:700px){
    .form{
        width:95%;
        padding:15px;
    }
}

/*table*/
.page-layout{
    display:flex;
    gap:20px;
    align-items:flex-start;
    justify-content:flex-start;
}

.page-layout .container{
    margin-left: 0px;
}

.table-box{
    flex:1;
    background: rgb(175, 195, 235);
    background-color: #3b3b98;
    padding: 20px;
    border-radius: 0px;
    border: 1px solid #03034f
}

table{
    width:100%;
    border-collapse: collapse;
}

th,td{
    border: 1px solid #3b3b98;
    padding: 8px;
    text-align: center;
    background-color: #ffffffaa;
}

th{
    background-color: rgb(3, 3, 78);
    color:white;
}
