.main{
    text-align: center;
    font-size:24px;
}
.form{
    width:100%;
    align-items: stretch;
    border: 2px solid black;
    padding: 10px;
    background-color: rgb(175, 195, 235);
}
.submit{
    text-align: center;
    margin-top: 20px;
}

button{
    padding:5px 10px;
    font-size:16px;
    cursor:pointer;
}